/* --- CSS reset from --- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 100%;
}
ol, ul {
    padding-left: 1.5em;
    /*list-style: unset;*/
}
blockquote {
    border-left: 2px solid;
    padding-left: 1em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2em;
    width: 100%;
}
th {
    border-bottom: 2px solid #efefef;
    font-weight: bold;
    text-align: left;
}
td { border-bottom: 1px solid #efefef; }
caption, th, td {
    padding: 4px 10px 4px 0;
}
caption {
    background: #f1f1f1;
    padding: 10px 0;
    margin-bottom: 1em;
}

tr,td,th {
    vertical-align: middle;
}

/* Use this if you use span-x classes on th/td. */
table .last { padding-right: 0; }

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a:visited{
    color: inherit;
}

body {
    /*font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: "Input Sans Narrow", "SF Mono", "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    color: #333333;
    /* background: #fffcf9; */
    font-size: 14px;
}
.alert-bar {
    display: flex;
    margin-bottom: 1rem;
    color: #664d03;
    background-color: #fff3cd;
    border: 1px solid #ffecb5;
    border-radius: .25rem;
    position: fixed;
    top: .25em;
    margin: 0 auto;
    max-width: 44em;
    left: 0;
    right: 0;
    z-index: 2000;
}
.search-bar {
    display: flex;
    align-items: baseline;
    justify-content: center;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    background: #fff;
    padding: .25em;
}
.search-bar .item , .alert-bar .item{
    padding: 1em;
    border: none;
}
.alert-bar .item{
    border-color: #ffecb5;
}
.alert-bar .message {
    flex-grow: 1;
}
#search {
    flex-grow: 1;
    font-family: inherit;
    outline: none;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5em;
    display: block;
    text-decoration: none;
    font-size: inherit;
    max-width: 33em;
    padding: .5em 1em;
}
#search-clear {
    cursor: default;
}
#sync-btn {
    cursor: default;
}
#merge-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 3000;
    border: 1px solid #ccc;
    margin: 1em;
    display: none;
}
#merge-btn {
    z-index: 4000;
    position: fixed;
    background: #fff;
    padding: .5em;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 1px solid;
}
#merge-clear-btn {
    z-index: 4000;
    position: fixed;
    background: #fff;
    padding: .5em;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid;
}
#container{
    max-width: 44em;
    margin: 0 auto;
    font-family: inherit;
    font-size: 100%;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
}
.cm-editor {
    /*font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
    font-family: "Input Sans Narrow", "SF Mono", "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    height: auto;
    /*height: calc(100vh - 3em);*/
    flex-grow: 1;
    line-height: 1.5;
}
.cm-focused {
    outline: none !important;
}
.ͼ2 .cm-gutters  {
    background: none !important; 
    border-right: none !important;
}

.cm-s-default .cm-header {
    color: inherit;
    cursor: pointer;
}
.cm-s-default .cm-tag {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.cm-s-default .cm-search {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

.cm-s-default .cm-url {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.cm-s-default .cm-task, .cm-s-default .cm-done-task {
    color: inherit;
    cursor: pointer;
    font-family: "SF Mono", "Inconsolata", "Segoe UI Mono", ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
.cm-s-default .cm-done {
    text-decoration: line-through;
    color: #999;
    cursor: pointer;
}

.cm-function {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}
.cm-indent-guide {
    position: relative;
    border-left: 1px dotted #bbb;
}
.CodeMirror-gutters {
    background: inherit;
    color: inherit;
    border: none;
}
.cm-tab {
    background-position: right;
    background-repeat: no-repeat;
    border-left: 1px solid #eee;
}


.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
    height: calc(100vh - 2em);
}

.CodeMirror-merge-r-deleted, .CodeMirror-merge-l-deleted {
    background: #f6dada;
}
.CodeMirror-merge-r-inserted, .CodeMirror-merge-l-inserted {
    background: #e3ffe3;
}

@media screen and (max-width: 800px) {
    #container{
        width: calc(100% - 1em);
        padding: .5em;
    }
    .CodeMirror-foldgutter {
	      padding-right: .25em;
    }
}

@media (prefers-color-scheme: dark) {
    body, #container, .CodeMirror, #search{
        background: #000;
        color: #ccc;
    }
    .search-bar {
	      background: #000;
    }
    #search, .search-bar, .search-bar .item{
	      border-color: #333;
    }
    .search-bar .item:last-child {
	      border-color: #333;
    }
    .cm-indent-guide {
        border-color: #555;
    }
    .cm-tab {
	      border-color: #333;
    }
    .CodeMirror-cursor{
	      border-color: red !important;
    }
    .CodeMirror-activeline-background {
	      background: #222;
    }
    .cm-s-default .cm-task {
	      border-color: #555;
    }
    .cm-s-default .cm-done {
	      text-decoration: line-through;
	      color: #555;
    }
}

/* hiding URLs when not editing 
 * Got this from https://forum.obsidian.md/t/hide-or-truncate-urls-in-editor-using-css/359 
 */
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-url:not(.cm-formatting) {
    font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-url:not(.cm-formatting)::after {
    content: 'http...';
    font-size: 1rem;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-url-link-with-title:not(.cm-formatting) {
    font-size: 0;
}
div:not(.CodeMirror-activeline) > .CodeMirror-line .cm-url-link-with-title:not(.cm-formatting)::after {
    font-size: 1rem;
}

.cm-url-tag, .cm-url-link, .cm-url-link-with-title, .cm-url-title {
    text-decoration: underline;
}
